@use "../abstracts/mixins" as *;
@use "../abstracts/root" as *;

/*
    Normalize

-------------------------------------
*/

a {
  text-decoration: none;
  font-weight: var(--font-weight__light);
  @include transition();

  @media (hover: hover) {
    &:hover {
      color: var(--color__blue-light);
    }
  }
}